[Unit]
Description=Avito Autoanswer Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/avito_autoanswer_bot
Environment="PATH=/home/avito_autoanswer_bot/venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/avito_autoanswer_bot/venv/bin/python3 main.py
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

